.container {
	width: 960px;
	margin: 20 auto;
	max-width: 100%;
}

.nav {
	display: inline-block;
	margin: 80 auto;
}

.logo {
  margin:0;
  padding:0;
  height: 228px;
  width: 304px;
  display: inline-block;
  max-width: 100%;
}

#two {
	padding: 0 25;
	max-width: 100%;
}


.display {
	display: inline-block;
	margin: -60 auto;
}

.shows {
	display: block;
	margin: auto 85;
	padding-top: 400;
}

.fix {
	margin: 10 -105;
	padding-top: 150;
	max-width: 100%;
}

.get table {
    width: 100%;
    font-family: century;
    border-color: white;
    font-weight: bold;
}


.get th {
    height: 70px;
    border-color: white;

}

.get th, td {
	padding: 15px;
    text-align: center;
    border-color: white;
}

.center {
	margin: 10 300;
}

.push {
	padding-top: 150;
	max-width: 100%;
}




p {
	font-family: sans-serif;
	text-align: center;
	font-size: 15px;
	color: black;

}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: century;
	font-size: 20px;
}

body > iframe:first-child { display: none !important; }

.nav a:hover {
    color: black;
    background-color: white;
    border-bottom: green solid 1px;
}


h1 {
	font-family: century;
	color: black;
	font-size: 30px;
	text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    font-family: century;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
}

th, td {
	padding: 15px;
    text-align: left;
}

.ugh {
	height: 20px;
	width: 20px;
}

.table {
	margin: -80 60;
	max-width: 100%
}






